body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background: #ffffff;
    margin: 15px;
    width: 340px;
}

.preview {
    background: #f9fafd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.layout-placeholder {
    color: #464b5b;
    font-size: 18px;
}

.accordion {
    background: #e6ebff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}

.accordion-title {
    color: #0033ff;
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}

input {
    box-sizing: border-box;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #d6dae4;
    border-radius: 3px;
    padding: 6px 12px;
    height: 38px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 15px;
    height: 15px;
}

.radio-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.layout {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    border: #c5c6ca 1px solid;
    margin: 16px;
    padding: 16px;
    position: relative;
    flex-basis: calc(50% - 32px);
}

.card .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card .post-image {
    width: 100%;
    height: auto;
    margin-top: 70px;
    object-fit: cover;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
    margin-bottom: 8px;
}

.card .like-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    cursor: pointer;
}

.card .like-icon.liked {
    fill: red;
}

.card .likes-count {
    font-size: 16px;
    font-weight: bold;
}

.card .date-paragraph {
    position: absolute;
    left: 80px;
    top: 35px;
}

.card .name-h2 {
    position: absolute;
    top: 0;
    left: 80px;
}

.card .source-image {
    position: absolute;
    right: 20px;
    top: 30px;
}

.card .likes-count {
    position: absolute;
    left: 65px;
    bottom: 8px;
}

.preview {
    padding-top: 1400px;
    padding-left: 50px;
    padding-right: 50px;
}